<% chats.forEach(chat => { %>
    <button class="select-chat">
        <img src="api/avatar" width="40px" class="avatar">
        <div class="metadata">
            <div class="top">
                <h3 class="title">title</h3>
                <span class="date">00:00</span>
            </div>
            <div class="bottom">
                <span>last message text</span>
            </div>
        </div>
    </button>
<% }); %>