<% chats.forEach(chat => { %>
    <button class="chat" data-id="<%= chat._id %>" data-title="<%= chat.login %>">
        <img src="api/avatar/<%= chat._id %>" width="40px" class="avatar">
        <div class="metadata">
            <div class="top">
                <h3 class="title"><%= chat.login %></h3>
                <span class="date">00:00</span>
            </div>
            <div class="bottom">
                <span>last message text</span>
            </div>
        </div>
    </button>
<% }); %>