#navigation-chats {
    display: flex;
    flex-flow: column;
    background: #0a0039;
    width: 340px;
}

.nav-chats-top {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 4px;
}

.menu-dropdown .top {
    padding: 0 10px;
}

#upload-avatar-btn {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#upload-avatar-btn .avatar-modal {
    position: absolute;
    inset: 0;
}

#upload-avatar-btn:hover .avatar-modal {
    background: #00000030;
}

.menu-dropdown .login {
    margin-top: 6px;
}

.menu-dropdown .h-line {
    width: 100%;
    height: 1px;
    background: lightgray;
}

.search-row {
    background: #231170;
    display: inline-flex;
    gap: 10px;
    border-radius: 20px;
    flex: 1;
    padding: 6px 10px;
    margin-left: 10px;
}

#search-input {
    color: #fff;
    width: 100%;
    outline: none;
    background: none;
    border: none;
}

#chats-wrapper {
    overflow: auto;
    flex: 1;
}

#chats-wrapper::-webkit-scrollbar {
    width: 4px;
}

#chats-wrapper::-webkit-scrollbar-thumb {
    background-color: #88888883;
    border-radius: 3px;
}

#chats-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


#chats-container {
    display: flex;
    flex-flow: column;
}

#chats-container .chat {
    color: white;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

#chats-container .chat:hover {
    background: #030029;
}

#chats-container .avatar {
    margin-right: 10px;
    width: 40px;
    min-width: 40px;
}

#chats-container .chat .top {
    margin-bottom: 10px;
    display: inline-flex;
    gap: 20px;
    width: 100%;
}

#chats-container .last-message {
    text-align: left;
}

#chats-container .title,
#chats-container .last-message {
    overflow-wrap: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#chats-container .title {
    font-size: medium;
    font-weight: 400;
    text-align: left;
}

#chats-container .metadata {
    flex: 1;
}

#chats-container .metadata .date {
    margin: auto;
    margin-right: 0;
    font-size: smaller;
    white-space: nowrap;
}





main {
    background: #0e0051;
    width: 100%;
    height: 100%;
    display: flex;
}

#choose-chat-text {
    margin: auto;
    color: #fff;
}

#chat-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}

.chat-header {
    color: #fff;
    background: #0a0039;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#return-btn {
    display: none;
    margin-right: 10px;
}

#chat-title {
    font-weight: 400;
}

.chat-options {
    margin: auto;
    margin-right: 0;
}



#content-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

#content-wrapper::-webkit-scrollbar {
    width: 4px;
}

#content-wrapper::-webkit-scrollbar-thumb {
    background-color: #88888883;
    border-radius: 3px;
}

#content-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#content-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
}

#scroll-to-down-btn {
    background: #0a0039;
    border: 2px solid #fff;
    border-radius: 50px;
    position: sticky;
    left: 90%;
    bottom: 20px;
    padding: 6px;
    width: 30px;
    height: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#attach-file-uploading-modal {
    position: absolute;
    inset: 0;
    height: 100%;
    background: #0000002b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#attach-file-uploading-modal .modal-panel {
    color: #fff;
    background: #0e0051;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
}

.message {
    color: #fff;
    display: inline-flex;
    gap: 6px;
    max-width: 70%;
}

.message[isOwnMessage] {
    align-self: flex-end;
}

.message[isOwnMessage] .avatar {
    display: none;
}

.message .avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.message .uploaded-file {
    width: 100%;
    max-width: 400px;
}

.message-content {
    display: inline-flex;
    background: #0a0039;
    padding: 10px;
    border-radius: 12px;
}

.message-content .col1 {
    display: flex;
    flex-direction: column;
}

.message-text {
    overflow-wrap: anywhere;
}

.chat .date,
.message-content .date {
    font-size: small;
}

.message-content .date {
    margin: auto;
    margin-right: 10px;
}

.message-content .col2 {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

.message-options {
    margin: 0 0 auto auto;
}

.delete-message-btn {
    font-size: small;
}

.message .check-mark {
    margin: auto;
    margin-bottom: 0;
}



.attach-file-panel {
    display: flex;
    justify-content: center;
    position: relative;
    background: #030029;
}

.uploaded-data {
    padding: 10px 20%;
}

#uploaded-file-img {
    width: 100%;
    max-height: 200px;
}

#close-panel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.input-wrapper {
    background: #0a0039;
    display: inline-flex;
    align-items: end;
    gap: 6px;
    padding: 10px;
}

#write-message-textarea {
    flex: 1;
}




@media (max-width: 800px) {
    #return-btn {
        display: block;
    }

    #navigation-chats {
        width: 100%;
    }
}


.mobile-device body {
    padding: 0 6px;
}

.mobile-device .uploaded-data-panel {
    width: 100%;
}